<!DOCTYPE html>
<html>

<head>
    <title>Chat realtime NodeJS demo</title>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/reaction-icon.css">

    <script src="/js/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/chat.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
        integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <fieldset>
        <legend>Demo chat realtime NodeJS</legend>
        <input type="text" id="username" name="username" placeholder="Enter name">
        <br>
        <div id="content"></div>

        <textarea id="message" placeholder="Write something.."></textarea>
        <br>
        <button id="sendMessage">SEND</button>
    </fieldset>

</body>

</html>